// vim: set ts=4 sw=4 ft=devicetree:

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "include/keypos_helios.h"
#include "include/behaviors_homerow.dtsi"

#define SYMBOL_LAYER 4
#define NUMBER_LAYER 5

/ {
    behaviors {
        // Home row mod behaviors for each finger
        hm_l_a: hm_left_shift_a {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };
        
        hm_l_d: hm_left_gui_d {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };
        
        hm_l_f: hm_left_alt_f {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };
        
        hm_r_j: hm_right_alt_j {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
        
        hm_r_k: hm_right_gui_k {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
        
        hm_r_l: hm_right_ctrl_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
        
        hm_r_semi: hm_right_shift_semi {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
        
        // Navigation layer / Escape key behavior
        nav_esc: nav_layer_escape {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&mo>, <&kp>;
        };

        // Enter/F10 hold-tap behavior
        enter_f10: enter_f10_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <QUICK_TAP>;
            require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
    &kp ESC   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8         &kp F9    &kp F10   &kp F11   &kp F12   &kp PSCRN  &kp SLCK  &kp PAUSE_BREAK  &tog 1    &mo 2
    &kp EQUAL   &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                                                      &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS
    &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T                                                                      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BACKSLASH
    &nav_esc 3 ESCAPE  &hm_l_a LSHFT A  &hm_l_s LCTRL S  &hm_l_d LGUI D  &hm_l_f LALT F  &kp G                                                                      &kp H     &hm_r_j RALT J  &hm_r_k RGUI K  &hm_r_l RCTRL L  &hm_r_semi RSHFT SEMI  &kp SINGLE_QUOTE
    &kp LEFT_SHIFT  &kp Z     &kp X     &kp C     &kp V     &kp B                                                                      &kp N     &kp M     &kp COMMA  &kp DOT   &kp SLASH  &kp RIGHT_SHIFT
              &kp GRAVE   &kp BACKSLASH   &kp LEFT  &kp RIGHT                                                                                       &kp UP    &kp DOWN  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
                                          &kp LEFT_CONTROL  &kp LEFT_GUI                                               &kp RIGHT_ALT  &kp RIGHT_CONTROL
                                                                &kp HOME                                               &kp PAGE_UP
                                            &kp BACKSPACE  &mo NUMBER_LAYER   &kp END                                 &kp TAB  &enter_f10 F10 ENTER &mo SYMBOL_LAYER
            >;
        };

        device_layer {
            display-name = "Numpad";
            bindings = <
    &none  &none  &none  &none  &none  &none  &none  &none  &none                          &none  &none  &none &none  &none  &none  &none  &trans  &trans
    &none  &none  &none  &none  &none  &none                                                                   &none  &kp LOCKING_NUM   &kp KP_EQUAL  &kp KP_SLASH  &kp KP_ASTERISK  &none
    &none  &none  &none  &none  &none  &none                                                                   &none  &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_MINUS  &none
    &none  &none  &none  &none  &none  &none                                                                   &none  &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_PLUS   &none
    &none  &none  &none  &none  &none  &none                                                                   &none  &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_ENTER  &none
           &none  &kp INSERT  &none  &none                                                                                 &none  &none  &kp KP_DOT  &kp KP_ENTER
                                              &none  &none                                        &none  &none
                                                     &none                                        &none
                                       &none  &none  &none                                        &none  &none  &kp KP_N0
            >;
        };

        system_layer {
            display-name = "System";
            bindings = <
    &none  &none  &none  &none  &none  &none  &none  &none  &none                 &none  &none  &none &none  &none  &none  &none  &trans  &trans
    &none  &none  &none  &none  &none  &none                                                                   &none  &none  &none  &none  &none  &none
    &none  &none  &none  &none  &none  &none                                                                   &none  &none  &none  &none  &none  &none
    &none  &none  &none  &none  &none  &none                                                                   &none  &none  &none  &none  &none  &none
    &none  &none  &none  &none  &none  &none                                                                   &none  &none  &none  &none  &none  &none
           &none  &none  &none  &none                                                                                 &none  &none  &none  &none
                                              &none  &none                                        &none  &none
                                                     &none                                        &none
                                  &none  &none  &none                                             &none  &none  &none
            >;
        };

        navigation_layer {
            display-name = "Navigation";
            bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &trans  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &trans  &kp LC(LEFT)  &kp LC(DOWN)  &kp LC(UP)  &kp LC(RIGHT)  &trans
           &trans  &trans  &trans  &trans                                                                                   &trans  &trans  &trans  &trans
                                              &trans  &mo 3                                        &mo 3  &trans
                                                     &trans                                        &trans
                                  &trans  &trans  &trans                                           &trans  &trans  &trans
            >;
        };

        symbol_layer {
            display-name = "Symbol";
            bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &kp LBKT  &kp LPAR  &kp LBRC  &kp LT  &kp GRAVE                                                        &kp GRAVE  &kp GT  &kp RBRC  &kp RPAR  &kp RBKT  &trans
    &trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PIPE                                                         &kp PIPE  &kp AMPS  &kp STAR  &kp QMARK  &kp BSLH  &trans
           &trans  &trans  &trans  &trans                                                                                   &trans  &trans  &trans  &trans
                                              &trans  &trans                                        &trans  &trans
                                                     &trans                                        &trans
                                  &trans  &trans  &trans                                           &trans  &kp SPACE  &trans
            >;
        };

        number_layer {
            display-name = "Number";
            bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                                                  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                                                 &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
    &trans  &kp MINUS &kp SLASH &kp STAR &kp PLUS &kp EQUAL                                                        &kp DOT  &kp COMMA &kp UNDER &kp PRCNT &kp CARET &trans
           &trans  &trans  &trans  &trans                                                                                   &trans  &trans  &trans  &trans
                                              &trans  &trans                                        &trans  &trans
                                                     &trans                                        &trans
                                  &trans  &kp DELETE  &trans                                       &trans  &trans  &trans
            >;
        };
    };
};
